form {
  margin: 10%;
}

input {
  border-radius: 15px;
  text-align: center;
}

.card-body {
  font-size: large;
  color: blue:
}

h1 {
  font-size: 30px;
}

.col3 {
  margin: 30px auto;
}

.groot {
  font-size: xx-large;
}

.card {
  margin: 0 auto;
}

.h2work {
  padding: 40px, 80px:
}
